/*css SHELF CAFE*/

/*COMMON----------------------------------*/
body{
  font-family: "Helvetica","Meiryo","Hiragino Kaku Gothic Pro",sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #1a1a1a;
}
.wrapper{
  width: 950px;
  margin: 60px auto;
}
a:link, a:visited{
  color: #6666ff;
  text-decoration: none;
}
a:hover, a:active{
  color: #cc6699;
  text-decoration: underline;
}

@media(max-width:768px){
  .wrapper{
    width: 100%;
  }
}

/*HEADER----------------------------------*/
header{
  display: flex;
  margin-bottom: 40px;
}
header p{
  margin: 0 auto 0 20px;
  line-height: 1;
}
header form input{
  border: solid 1px #CCCCCC;
  background: url(../img/search.gif) right no-repeat;
  padding: 2px 5px;
}

@media(max-width:768px){
  header{
    display: block;
    text-align: center;
  }
  header p{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  header form input{
  }
}

/*NAV-------------------------------------*/
nav{
  margin-bottom: 20px;
}
nav ul{
  display: flex;
  justify-content: space-between;
}
nav ul li{
  width: 150px;
  font-size: 14px;
}
nav ul li a:link,
nav ul li a:visited{
  color: #1a1a1a;
  border-bottom: solid 1px #1a1a1a;
  padding-bottom: 4px;
  display: block;
}
nav ul li a:hover,
nav ul li a:active{
  color: #CCCCCC;
  border-bottom: solid 1px #CCCCCC;
  text-decoration: none;
}

@media(max-width:768px){
  nav{
    margin-bottom: 0;
  }
  nav ul{
    display: block;
    border-top: solid 1px;
  }
  nav ul li{
    width: 100%;
    text-align: center;
  }
}

/*#mainVisual-----------------------------*/
#mainVisual{
  width: 950px;
  height: 380px;
  background: url(../img/main.jpg) no-repeat;
  margin-bottom: 20px;
}
#mainVisual h2{
  font-size: 24px;
  text-align: right;
  line-height: 30;
  margin-right: 20px;
}

@media(max-width:768px){
  #mainVisual{
    width: 100%;
    max-width: 100%;
    height: auto;
    background-size: cover;
  }
  #mainVisual h2{
    font-size: inherit;
    text-align: center;
    line-height: 20;
    margin-right: 20px;
  }
}

/*#contents-------------------------------*/
#contents{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#contents .contents{
  width: 310px;
}
#contents h3{
  font-size: 14px;
  border-bottom: solid 1px;
  padding-bottom: 4px;
  margin-bottom: 10px;
}
#contents figure{
  margin-bottom: 10px;
}
#contents .viewMore{
  text-align: right;
  margin-top: 10px;
}

@media(max-width:768px){
  #contents{
    display: block;
    margin-bottom: 20px;
  }
  #contents .contents{
    width: 100%;
  }
  #contents h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
  }
  #contents figure img{
    width: 100%;
  }
}

/*#whatsNew*/
#whatsNew dl dt{
  font-size: 10px;
  margin-bottom: 4px;
}
#whatsNew dl dd{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: dotted 1px;
}
#whatsNew dl dd:last-child{
  border-bottom: none;
}

@media(max-width:768px){
  #whatsNew dl{
    margin: 0 10px;
  }
  #whatsNew dl dt{
    margin-top: 10px;
  }
  #whatsNew dl dd{
      margin-bottom: 0;
  }
}

/*#about*/
@media(max-width:768px){
  #about p{
    margin: 0 10px;
  }
}

/*#todaysMenu*/
#todaysMenu #menuContainer{
  display: flex;
  justify-content: space-between;
}

@media(max-width:768px){
  #todaysMenu #menuContainer{
    display: block;
  }
  #todaysMenu #baconEgg,
  #todaysMenu #cinnamonRoll{
    overflow: hidden;
    border-top: dotted 1px;
    text-align: left;
    padding-right: 10px;
  }
  #todaysMenu figure{
    float: left;
    margin-right: 20px;
  }
}

/*FOOTER----------------------------------*/
footer{
  font-size: 10px;
  text-align: right;
  border-top: solid 1px;
  padding-top: 10px;
}

@media(max-width:768px){
  footer{
    text-align: center;
  }
}
















/**/
