/*css-HOME*/
/*COMMON-------------------------------------*/
body{
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 1.8;
  background-color: #000000;
}
.inner{
  width: 960px;
  margin: 0 auto;
}
a:link, a:visited{
  color: #000000;
  text-decoration: none;
}

@media (max-width:768px) {
  .inner{
    width: 90%;
  }
}

/*HEADER-------------------------------------*/
header{
  position: relative;
  line-height: 0;
}
header #mainVisual img{
  width: 100%;
}

/*NAV*/
nav{
  width: 100%;
  height: 80px;
  background-color: #000000;
  position: absolute;
  top: 0;
}
nav .inner{
  display: flex;
}
header #logoFlag{
}
nav ul{
  display: flex;
}
nav ul li{
  font-family: "rift-soft", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-top: 40px;
  margin-left: 60px;
}
nav a:link, nav a:visited{
  color: #FFFFFF;
  text-decoration: none;
}
nav .current a:link,nav .current a:visited{
  color: #c00e53;
}
nav a:hover, nav a:active{
  color: #c00e53;
}

@media (max-width:768px) {
  nav{
    height: 60px;
    position: fixed;
  }
  header #logoFlag img{
    height: 100px;
  }
  nav ul li{
    font-size: 20px;
    margin-top: 26px;
    margin-left: 20px;
  }
}

/*CONTENTS-----------------------------------*/
#contents{
  background: #efefef url(../img/floralLeft.jpg) top;
}
.clearfix:after{
  content: " ";
  clear: both;
  display: block;
  padding-bottom: 100px;
}
#contents .box{
  width: 240px;
  height: 240px;
  float: left;
}
#contents .txArea{
  width: 180px;
  height: 180px;
  padding: 30px;
}
#contents h3{
  font-family: "rift-soft", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 20px;
}

@media (max-width:768px) {
  .clearfix:after{
    padding-bottom: 40px;
  }
}

/*box01 photo*/
#contents #box01{
  width: 480px;
  height: 480px;
}

@media (max-width:768px) {
  #contents #box01{
    width: 100%;
    height: auto;
    line-height: 0;
  }
  #box01 img{
    width: 100%;
  }
}
/*box02 photo*/
#box02{
}
/*box03 NEWS*/
#box03{
  background-color: #FFFFFF;
  overflow: hidden;
}
#box03 dl{
}
#box03 dt{
  font-size: 10px;
  margin-bottom: 10px;
}
#box03 .hover{
  width: 200px;
  height: 200px;
  background: rgba(192, 14, 83, 0.7);
  font-family: "rift-soft", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 14;
  text-align: right;
  color: #FFFFFF;
  padding: ;
  margin-left: 20px;
  transform: translateY(-220px);
  opacity: 0;
}
#box03 .hover:hover{
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
#box03 .hoverTx{
  transform: translateY(40px);
}
#box03 .hoverTx:hover{
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}
/*box04 CONCEPT*/
#box04{
  background-color: #000000;
  color: #FFFFFF;
  overflow: hidden;
}
#box04 .hover{
  width: 200px;
  height: 200px;
  background: rgba(192, 14, 83, 0.7);
  font-family: "rift-soft", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 14;
  text-align: right;
  color: #FFFFFF;
  padding: ;
  margin-left: 20px;
  transform: translateY(-220px);
  opacity: 0;
}
#box04 .hover:hover{
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
#box04 .hoverTx{
  transform: translateY(40px);
}
#box04 .hoverTx:hover{
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}
/*box05*/
#contents #box05{
}
/*box06*/
#contents #box06{
  background-color: #c00e53;
  font-family: "rift-soft", sans-serif;
  color: #FFFFFF;
}
/*box07*/
#contents #box07{
  background-color: #FFFFFF;
  overflow: hidden;
}
#box07 .hover{
  width: 200px;
  height: 200px;
  background: rgba(192, 14, 83, 0.7);
  font-family: "rift-soft", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 14;
  text-align: right;
  color: #FFFFFF;
  padding: ;
  margin-left: 20px;
  transform: translateY(-220px);
  opacity: 0;
}
#box07 .hover:hover{
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
#box07 .hoverTx{
  transform: translateY(40px);
}
#box07 .hoverTx:hover{
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}
/*box08*/
#contents #box08{
}
/*box09*/
#contents #box09{
  background-color: #c00e53;
  font-family: "rift-soft", sans-serif;
  color: #FFFFFF;
}
/*box10*/
#contents #box10{
  background-color: #FFFFFF;
  overflow: hidden;
}
#box10 .hover{
  width: 200px;
  height: 200px;
  background: rgba(192, 14, 83, 0.7);
  font-family: "rift-soft", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 14;
  text-align: right;
  color: #FFFFFF;
  padding: ;
  margin-left: 20px;
  transform: translateY(-220px);
  opacity: 0;
}
#box10 .hover:hover{
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
#box10 .hoverTx{
  transform: translateY(40px);
}
#box10 .hoverTx:hover{
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}
/*box11*/
#contents #box11{
}
/*box12*/
#contents #box12{
  background-color: #FFFFFF;
}
/*box13*/
#contents #box13{
  background-color: #000000;
  color: #FFFFFF;
}
#contents #box13 img{
  margin: 0 20px 20px 0;
  cursor: pointer;
}

@media (max-width:768px) {
  #contents{
    text-align: center;
  }
  #contents .box{
    width: 100%;
  }
  #contents .txArea{
    margin: 0 auto;
  }
  #box02,
  #box05,
  #box08,
  #box11{
    width: 100%;
    height: auto;
    line-height: 0;
  }
  #box02 img,
  #box05 img,
  #box08 img,
  #box11 img{
    width: 100%;
  }
  #box12{
    display: none;
  }
  #contents .txArea{
    width: 80%;
  }
  #contents .hover{
    width: 90%;
    margin: 0 auto;
  }
}

/*FOOTER-------------------------------------*/
footer{
  height: 40px;
  font-family: "rift-soft", sans-serif;
  font-size: 10px;
  text-align: right;
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 16px;
}

@media (max-width:768px) {
  footer{
    text-align: center;
  }
}
